
.home-container {
  padding: 2rem;
  background-color: #F0FDF4; /* emerald-50 */
  color: #1F2937; /* gray-800 */
  font-family: 'Segoe UI', sans-serif;
}

/* Call-to-action button */
.button {
  background-color: #10B981; /* emerald-500 */
  color: white;
  border: none;
  border-radius: 25px;
  padding: 0.75rem 1.5rem;
  font-size: 3rem;
  font-weight: bold;
  margin: 2rem auto;
  display: block;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 10px rgba(16, 185, 129, 0.2);
  text-decoration: none;
}
.buttonLInk{
  text-decoration: none;
}

.button:hover {
  background-color: #059669; /* emerald-600 */
  transform: translateY(-2px);
}
